# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# cMake Files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Binary & build directory
bin/
build/

# VIm backup files
*.swp
# Eclipse project
.project
.cproject

# LLParser outputfiles
LLP*out.txt

#ignoring doxygen generated docs
docs/

src/Tests

src/RNAslv


RNAslv

Tests

RunPDA

RunCYK

RunTuring
